{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="row page_intro">
        <div class="row m0 inner">
            <div class="container">
                <div class="row">
                    <h5>blog new</h5>
                    <h2>What’s new in medicalpro</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="row breadcrumbRow">
        <div class="container">
            <div class="row inner m0">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="row content_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="row m0 blog single_post">
                        <div class="image_row row m0">
                            <img src="images/blog/blog/6.jpg" alt="" class="img-responsive">
                        </div>
                        <h3>We are having department added to us</h3>
                        <div class="row m0 meta">By : <a href="#">John Doe</a> on : <a href="#">29th June 2015</a> comments: (<a href="#comments" class="comment_amount">25</a>)
                        </div>
                        <p>Suspendisse sed viverra ex. Fusce et lacus a ex rutrum tristique pellentesque vel ipsum. Curabitur pretium sagittis mauris tempus finibus. Donec pretium velit quis urna dictum, in tempor quam laoreet. Vestibulum eget dolor tincidunt, venenatis tortor sit amet, feugiat purus. Sed luctus vel risus scelerisque venenatis. <br><br>Phasellus vestibulum, sapien ac sodales facilisis, arcu magna dapibus enim, id vehicula tellus nisl at nibh. Cras auctor eros neque, vel vehicula massa suscipit vitae. Mauris vitae sapien egestas, egestas magna vitae, semper neque. <br><br>Duis dapibus eget augue in placerat. Vestibulum at volutpat magna. Aenean velit nunc, tincidunt eget lorem sit amet, elementum volutpat sapien. Sed ac congue sem, eget sagittis orci. Sed a magna nec dolor tempus ultrices vel ac libero.</p>
                        <blockquote>
                            <p>Phasellus dictum fermentum enim vel sodales. Sed leo elit, rutrum vitae felis a, hendrerit facilisis nibh. Quisque scelerisque dolor ultricies, rutrum dui vel, gravida sapien.</p>
                        </blockquote>
                        <p>Suspendisse sed viverra ex. Fusce et lacus a ex rutrum tristique pellentesque vel ipsum. Curabitur pretium sagittis mauris tempus finibus. Donec pretium velit quis urna dictum, in tempor quam laoreet. Vestibulum eget dolor tincidunt, venenatis tortor sit amet, feugiat purus. Sed luctus vel risus scelerisque venenatis. <br><br>Duis dapibus eget augue in placerat. Vestibulum at volutpat magna. Aenean velit nunc, tincidunt eget lorem sit amet, elementum volutpat sapien. Sed ac congue sem, eget sagittis orci. Sed a magna nec dolor tempus ultrices vel ac libero.</p>
                    </div> <!--Single Post-->
                    <div class="row m0 tags">TAGS: <a href="#">medical</a>, <a href="#">doctor</a>, <a href="#">blog</a>, <a href="#">news</a> </div>
                    <div class="widget related row m0">
                        <h5 class="widget_heading">Related</h5>
                        <div class="row m0">
                            <div class="col-sm-6">
                                <a href="#">We are having departmentadded to us</a>
                                In "medical"
                            </div>
                            <div class="col-sm-6">
                                <a href="#">We are having departmentadded to us</a>
                                In "medical"
                            </div>
                        </div>
                    </div>
                    <div class="row pager">
                        <div class="col-sm-6 prev">
                            <div class="inner row m0">
                                <a href="#"><i class="fa fa-arrow-left"></i> Previous Post</a><br>
                                <a href="#">EXPANDING our Reasearch and Development team</a>
                            </div>
                        </div>
                        <div class="col-sm-6 next">
                            <div class="inner row m0">
                                <a href="#">Next Post <i class="fa fa-arrow-right"></i></a><br>
                                <a href="#">Reasearch and Development team simple dummy</a>
                            </div>
                        </div>
                    </div>
                    <div class="media author_description">
                        <div class="media-left media-bottom">
                            <img src="images/blog/blog/author.png" alt="">
                        </div>
                        <div class="media-body">
                            <div class="titleRow text-left">
                                <h2>johnathan doe</h2>
                                <h5>Author</h5>
                            </div>
                            <p>Duis dapibus eget augue in placerat. Vestibulum at volutpat magna. Aenean velit nunc, tincidunt eget lorem sit amet, elementum volutpat sapien.vel ac libero.</p>
                            <a href="#" class="view_all">view all posts</a>
                        </div>
                    </div>
                    <div class="row m0 widget comments">
                        <h5 class="widget_heading">Comments</h5>
                        <div class="media comment">
                            <div class="media-left commenter_img"><a href="#"><img src="images/blog/blog/comments/1.jpg" alt=""></a></div>
                            <div class="media-body comment_body">
                                <div class="row m0 heading">
                                    <h5>jhon merry <span class="time_ago">5 minutes ago</span></h5>
                                    <h6>June 30, 2015</h6>
                                </div>
                                <p>Nam lacinia augue ut placerat fermentum, quam sapienisl, vel feugiat mauris ellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                                <a href="#" class="reply_btn">reply</a>
                            </div>
                        </div> <!--Single Comment-->
                        <div class="media comment">
                            <div class="media-left commenter_img"><a href="#"><img src="images/blog/blog/comments/1.jpg" alt=""></a></div>
                            <div class="media-body comment_body">
                                <div class="row m0 heading">
                                    <h5>jhon merry <span class="time_ago">5 minutes ago</span></h5>
                                    <h6>June 30, 2015</h6>
                                </div>
                                <p>Nam lacinia augue ut placerat fermentum, quam sapienisl, vel feugiat mauris ellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                                <a href="#" class="reply_btn">reply</a>
                            </div>
                        </div> <!--Single Comment-->
                        <div class="media reply_comment comment">
                            <div class="media-left media-bottom commenter_img"><a href="#"><img src="images/blog/blog/comments/reply.png" alt=""></a></div>
                            <div class="media-body comment_body">
                                <span class="author_badge">author</span>
                                <div class="row m0 heading">
                                    <h5>jhon merry <span class="time_ago">5 minutes ago</span></h5>
                                    <h6>June 30, 2015</h6>
                                </div>
                                <p>Nam lacinia augue ut placerat fermentum, quam sapienisl, vel feugiat mauris ellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                                <a href="#" class="reply_btn">reply</a>
                            </div>
                        </div> <!--Single Comment-->
                        <div class="media comment">
                            <div class="media-left commenter_img"><a href="#"><img src="images/blog/blog/comments/1.jpg" alt=""></a></div>
                            <div class="media-body comment_body">
                                <div class="row m0 heading">
                                    <h5>jhon merry <span class="time_ago">5 minutes ago</span></h5>
                                    <h6>June 30, 2015</h6>
                                </div>
                                <p>Nam lacinia augue ut placerat fermentum, quam sapienisl, vel feugiat mauris ellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                                <a href="#" class="reply_btn">reply</a>
                            </div>
                        </div> <!--Single Comment-->
                    </div>
                    <div class="row m0 widget leave_reply">
                        <h5 class="widget_heading">leave reply</h5>
                        <form action="#" class="row m0 reply_form">
                            <div class="row m0">
                                <div class="col-sm-6 p0">
                                    <input type="text" class="form-control" placeholder="Your Name">
                                    <input type="email" class="form-control" placeholder="E-Mail">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                                <div class="col-sm-9 p0">
                                    <textarea   class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="row m0">
                                <input type="submit" class="submit_btn" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 sidebar">
                    <form action="#" class="row m0 search_form widget">
                        <h5 class="widget_heading">search</h5>
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search here">
                            <span class="input-group-addon"><button type="submit">go</button></span>
                        </div>
                    </form>
                    <div class="row m0 widget categories">
                        <h5 class="widget_heading">Category</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">general</a></li>
                            <li><a href="#">health care</a></li>
                            <li><a href="#">rehabilitation centre</a></li>
                            <li><a href="#">cancer care</a></li>
                            <li><a href="#">cardiac clinic</a></li>
                            <li><a href="#">nurology</a></li>
                            <li><a href="#">dental care</a></li>
                        </ul>
                    </div>
                    <div class="row m0 widget recent_posts">
                        <h5 class="widget_heading">Recent post</h5>
                        <div class="media recent_post">
                            <div class="media-left">
                                <a href="single-post.html"><img src="images/blog/recent_posts/1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <a href="single-post.html"><h5>We are having new department added</h5></a>
                                <p>on: <a href="single-post.html">29th june 2015</a></p>
                            </div>
                        </div>
                        <div class="media recent_post">
                            <div class="media-left">
                                <a href="single-post.html"><img src="images/blog/recent_posts/1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <a href="single-post.html"><h5>EXPANDING our &amp; Development team</h5></a>
                                <p>on: <a href="single-post.html">29th june 2015</a></p>
                            </div>
                        </div>
                        <div class="media recent_post">
                            <div class="media-left">
                                <a href="single-post.html"><img src="images/blog/recent_posts/1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <a href="single-post.html"><h5>We are having new department added</h5></a>
                                <p>on: <a href="single-post.html">29th june 2015</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="row m0 widget tags">
                        <h5 class="widget_heading">Tags</h5>
                        <div class="row m0 tag_list">
                            <a href="#" class="tag">medical</a>
                            <a href="#" class="tag">research</a>
                            <a href="#" class="tag">doctor</a>
                            <a href="#" class="tag">research</a>
                            <a href="#" class="tag">nurology</a>
                            <a href="#" class="tag">dental</a>
                            <a href="#" class="tag">care</a>
                            <a href="#" class="tag">dental</a>
                            <a href="#" class="tag">care</a>
                            <a href="#" class="tag">dental</a>
                            <a href="#" class="tag">nurology</a>
                            <a href="#" class="tag">dental</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row book_banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <div class="row m0">
                        <h3 class="bannerTitle">ONLINE HASSLE FREE Appointment BOOKING</h3>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia, ipsum eu vulputate pulvinar,</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="row m0">
                        <a href="#appointment" class="view_all">book your appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}